{
  "env": {
    "development": {
      "presets": ["./babel-preset"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "components": "./components",
              "lib": "./lib",
              "styles": "./styles"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": "./babel-preset",
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "components": "./components",
              "lib": "./lib",
              "styles": "./styles"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  }
}
